*.log
*.err
*.class
*.zip
target/
build/
*.iml
.idea/
.vscode/
*.*~
*.pycnode_modules/
electron/node_modules/
backend/lumia.db
backend/config.json
backend/lumia.json
.env
firmware/**/.pio/
firmware/**/config.h
